<h1>List of restaurants</h1>

<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card"  style="width: 40rem">
          <img src="https://picsum.photos/g/200/200/?random" alt="Card image cap" class="card-img-top">
          <h2><strong><%= link_to restaurant.name, admin_restaurant_path(restaurant) %></strong></h2>
          <p>#<%= restaurant.category %></p>
          <p><em><%= restaurant.address %></em></p>
          <p><em><%= restaurant.phone_number %></em></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
